@import "@/shared/styles";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100dvh;
  padding: 64px 24px 24px;

  @include --mobile {
    padding-top: 56px;
  }
}
