@import "@/shared/styles";

.chatContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 60%;

  @include --mobile {
    width: 100%;
  }
}

.chatListContainer {
  display: flex;
  flex-grow: 1;
}

.messageInputContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
