@import "@/shared/styles";

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.chat::-webkit-scrollbar {
  display: none;
}

.messageList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
  height: 10vh;
}
